main div p {
  font-size: 1.5rem;
  text-indent: 3rem;
  line-height: 150%;
}

main div p span[data-type="key-answer"] {
  color: red;
  text-decoration: underline;
}

main div p span[data-hit="1"] {
  color: blue;
  text-decoration: underline;
}

.new p{
  font-style: italic;
}

.tips {
  color: orange;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.new {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
