main p {
  font-size: 1.4rem;
  text-indent: 2.8rem;
  line-height: 130%;
}

main span[data-type="key-answer"] {
  color: red;
  text-decoration: underline;
}

main span[data-hit="1"] {
  color: blue;
  text-decoration: underline;
}

.new p {
  font-style: italic;
}

.tips {
  color: orange;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.new {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

div[data-id|="end-bad"] {
  color: darkgray;
}